body {
  background-color: white;
  color: black;
  font-family: arial;
  font-size: 20px;
  line-height: 25px;
  margin-left: 10px; margin-right: 10px;
  text-decoration: none;

}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  position: float;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 70%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
